body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

label{
    font-family: "Inter", serif;
    margin: 0px;
    
}

hr{
    width: 80%;
    border: 1px solid black;
 }

.main-container{
    width: 326px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 16px;

}


.txt{
    height: 30px;
    border-radius: 3px;
    
}

button{
    height: 38px;
    background-color: #009DC0;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}

.top-left, .top-right{
    
    width: 50%;
    overflow: hidden;
}

.top-right{
    height: 100vh;
    border: 0px;
}

.top-left{
    
    width: 50%;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    gap: 49px;
    margin-top: 6rem;
    align-items: center;
}

.main{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.top-left > img{
    width: 15%;
 }

 #muie{
    height: 100vh;
 }

 form{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 6rem;
 }